@page "/aboutproject"

<link type="text/css" href="css/aboutproject.css" rel="stylesheet" />

<div class="container-fluid">
    <h1 class="display-4">About this project</h1>
    <div class="row odd-row">
        <div class="col-6 text-center">
            <h3>Built for PV178</h3>
            <p>
                This site was created as a school project for course PV178 - Programming in C#
            </p>
            <p>
                I decided to pick Blazor since it's quite young and interesting technology
            </p>
        </div>
        <div class="col-6">
            <img class="float-right img-fluid" src="/img/muni.png" />
        </div>
    </div>

    <div class="row even-row">
        <div class="col-6 text-center">
            <img class="img-fluid" src="/img/navbaricon.png" />
        </div>
        <div class="col-6 text-center">
            <h3 class="even-heading">What is it about</h3>
            <p>
                The goal of this project is to create a simple blazor web-app which communicates with Github API and fetches data about users and their repos
            </p>
            <p>
                On the main page you can input github login and you will see a repo with that login, then you can click on repos and see a list of all. Clicking on repo will show you additional info about specific repo.
            </p>
        </div>
    </div>

    <div class="row odd-row">
        <div class="col-6 text-center">
            <h3>About me</h3>
            <p>
                My name is Peter and I'm a big fan on .NET solutions - mostly .NET Core and Blazor. Hopefully I will be lucky enough to work with Blazor in the future
            </p>
            <a href="https://github.com/sliziky">Link to my GitHub</a>
        </div>
        <div class="col-6">
            <img class="float-right img-fluid" src="/img/parallex_3.png" />
        </div>
    </div>
</div>
@code {

}
